$font__main: "Lato", sans-serif;
$font__code: "Source Code Pro", monospace;
$font__pre: "Source Code Pro 300", monospace;
$font__heading: "Raleway", sans-serif;
$font__site-title: "Rock Salt", sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;